
/.gradle/
/build/
/.idea/
/api/target/
/api/.flattened-pom.xml
/api/ore-control-api.iml
/common/target/
/common/.flattened-pom.xml
/common/ore-control-common.iml
/ore-control/target/
/ore-control/.flattened-pom.xml
/ore-control/ore-control.iml
/.flattened-pom.xml
/ore-control-parent.iml
.flattened-pom.xml
target
*.iml
*/build/
*/.gradle
impl/*/build/
impl/*/.gradle